/* COLORS GLOBALS
======================= */

$white: #fff;
$black: #000;
$dark-blue: #373780;

/* COLORS LIGHT MODE 
======================= */
// $themes: (
//     darkTheme: (
//         'primary': #C7B2FC,
//         'secondary': #FABEE3
//         'text': #504980,
//         'accent': #FFE7E7
//     ),
//     lightTheme: (
//         'primary': #C7B2FC,
//         'secondary': #FABEE3
//         'text': #504980,
//         'accent': #FFE7E7
        
//     )
// );


$primary: #C7B2FC;
$secondary: #FABEE3;
$text: #504980;
$accent: #FFE7E7;


/* COLORS DARK MODE
======================= */

$primary--dark: #5F5BC1;
$secondary--dark: #5550BE;
$text--dark: #FFE7E7;
$accent--dark: #504980;